<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IOT设备管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="index">
    <div th:replace="admin/commons/bar::topbar"></div>

    <div th:replace="admin/commons/bar::sidebar"></div>

    <div class="page-content">
        <blockquote class="layui-elem-quote">
            未处理部署位置设备调岗请求
        </blockquote>
        <table class="layui-table layui-form">
            <thead>
                <th>调岗设备IP地址</th>
                <th>调岗设备姓名</th>
                <th>调岗原因</th>
                <th>调岗发起时间</th>
                <th>调岗设备现处设备权限</th>
                <th>调往设备权限</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr th:each="uc:${uncheck}">
                    <td th:text="${uc.eId.username}"></td>
                    <td th:text="${uc.eId.realname}"></td>
                    <td th:text="${uc.empReason}"></td>
                    <td th:text="${#dates.format(uc.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${uc.pId.name}"></td>
                    <td th:text="${uc.tId.name}"></td>
                    <td>
                        <a th:href="@{/gmdealepc/}+${uc.id}">处理</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <blockquote class="layui-elem-quote">
            已处理设备下线请求
        </blockquote>
        <table class="layui-table layui-form">
            <thead>
                <th>调岗设备IP地址</th>
                <th>调岗设备姓名</th>
                <th>调岗设备所处设备权限</th>
                <th>调往设备权限</th>
                <th>调岗原因</th>
                <th>调岗发起时间</th>
                <th>部署位置经理处理意见</th>
                <th>部署位置经理处理结果</th>
                <th>总经理处理意见</th>
                <th>总经理处理结果</th>
                <th>调岗生效时间</th>
            </thead>
            <tbody>
                <tr th:each="pc:${checked}">
                    <td th:text="${pc.eId.username}"></td>
                    <td th:text="${pc.eId.realname}"></td>
                    <td th:text="${pc.pId.name}"></td>
                    <td th:text="${pc.tId.name}"></td>
                    <td th:text="${pc.empReason}"></td>
                    <td th:text="${#dates.format(pc.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${pc.dmComment}"></td>
                    <td th:text="${pc.dmStatus}"></td>
                    <td th:text="${pc.gmComment}"></td>
                    <td th:text="${pc.gmStatus}"></td>
                    <td th:text="${#dates.format(pc.effectTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
</body>

</html>