<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IOT设备管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="index">

    <div th:replace="admin/commons/bar::topbar"></div>

    <div th:replace="admin/commons/bar::sidebar"></div>

    <div class="page-content" style="overflow: auto;">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <th>
                                    开关
                                </th>
                                <th>IP地址</th>
                                <th>登录密码</th>
                                <th>设备名称</th>
                                <th>类别</th>
                                <th>生产厂家</th>
                                <th>生产日期</th>
                                <th>手机号码</th>
                                <th>使用年限</th>
                                <th>教育背景</th>
                                <th>工作经验</th>
                                <th>部署位置</th>
                                <th>文件</th>
                                <th>设备权限</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="layui-input-block">
                                            <div class="layui-input-block" style="display: inline;">
                                                <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${pos.employee.username}"></td>
                                    <td th:text="${pos.employee.deviceport}"></td>
                                    <td th:text="${pos.employee.realname}"></td>
                                    <td th:text="${pos.employee.category}"></td>
                                    <td th:text="${pos.employee.address}"></td>
                                    <td th:text="${#dates.format(pos.employee.birth, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${pos.employee.telphone}"></td>
                                    <td th:text="${pos.employee.age}"></td>
                                    <td th:text="${pos.employee.education}"></td>
                                    <td th:text="${pos.employee.experience}"></td>
                                    <td th:text="${pos.location.name}"></td>
                                    <td th:text="${pos.salary}"></td>
                                    <td th:text="${pos.name}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
</body>

</html>