<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IOT设备管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>

<body class="index">
    <!-- 顶部开始 -->
    <div th:replace="personnel/commons/bar::topbar"></div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div th:replace="personnel/commons/bar::sidebar"></div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content" style="overflow: auto">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form th:action="@{/empsel}" method="post">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="设备IP地址(登录名)" name="username" id="username">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="设备设备名称" name="realname" id="realname">
                            </div>
                            <div class="layui-input-inline">
                                <div class="layui-inline layui-show-xs-block">
                                    <select class="layui-select" name="deptId">
                                    <option value="">设备部署位置</option>
                                    <option th:each="dept:${session.depts}" th:value="${dept.id}" th:text="${dept.name}"></option>
                                </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-filter="sreach" id="btn"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body layui-table-body layui-table-main" style="overflow: auto">
                        共[[${counts}]]条记录
                        <table class="layui-table layui-form">
                            <thead>

                                <th>IP地址</th>
                                <th>设备名称</th>
                                <th>类别</th>
                                <th>生产厂家</th>
                                <th>生产日期</th>
                                <th>手机号码</th>
                                <th>使用年限</th>
                                <th>教育背景</th>
                                <th>工作经验</th>
                                <th>部署位置</th>
                                <th>文件</th>
                                <th>设备权限</th>
                                <th>是否在线</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                <tr th:each="po:${pos}">

                                    <td th:if="${po.employee ne null}" th:text="${po.employee.username}"></td>
                                    <td th:text="${po.employee.realname}"></td>
                                    <td th:text="${po.employee.category}"></td>
                                    <td th:text="${po.employee.address}"></td>
                                    <td th:text="${#dates.format(po.employee.birth, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${po.employee.telphone}"></td>
                                    <td th:text="${po.employee.age}"></td>
                                    <td th:text="${po.employee.education}"></td>
                                    <td th:text="${po.employee.experience}"></td>
                                    <td th:text="${po.location} eq null?'暂无':${po.location.name}"></td>
                                    <td th:text="${po.salary} eq null?'0':${po.salary}"></td>
                                    <td th:text="${po.name} eq null?'暂无':${po.name}"></td>
                                    <td th:text="${po.employee.isDel} eq 0? '在线':'下线'"></td>
                                    <td>
                                        <a th:href="@{/emp/}+${po.employee.id}">修改</a>
                                        <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
</body>

</html>